$primary-color: #4D4479;
$secondary-color: #4D4479;
$success-color: #18a957;
$success-secondary-color: #36b569;
$error-color: #df1642;
$error-secondary-color: #eb3d5d;
$warning-color: #f8de1f;
$warning-secondary-color: #fff04a;
